{% extends 'payment_service/base.html' %}

{% block content %}
<div class="container">
    
    {% if cart_list %}
    <h1 class="text-center">Order №{{ cart_id }}</h1>
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Product</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for i in cart_list %}
                <tr>
                    <td>{{ i.item_id }}</td>
                    <td>{{ i.item_id.get_price }}$</td>
                    {% endfor %}  
                </tr>      
                <td><strong style="font-size: 22px;">TOTAL</strong></td>
                <td><strong style="font-size: 22px;">{{ total_price }}$</strong></td>

        </tbody>
    </table>
    <br>
    <button class="btn btn-success ml-auto" id="checkout-button">Buy</button>
    <script src="https://js.stripe.com/v3/"></script>
    <script type="text/javascript">
        var stripe = Stripe('{{ stripe_publishable_key }}');
        var checkoutButton = document.getElementById('checkout-button');
        checkoutButton.addEventListener('click', function () {
            fetch("{% url 'api_checkout_session_order' id=cart_id %}", {
                method: 'POST'
            })
                .then(function (response) {
                    return response.json();
                })
                .then(function (session) {
                    return stripe.redirectToCheckout({ sessionId: session.sessionId });
                })
                .then(function (result) {
                    if (result.error) {
                        alert(result.error.message);
                    }
                })
                .catch(function (error) {
                    console.error('Error:', error);
                });
        });
    </script>
    {% else %}
    <div class="alert alert-info">
        You have no order yet.
    </div>
    {% endif %}   
</div>
{% endblock content %}
    